@tailwind base;
@tailwind components;
@tailwind utilities;

.box {
  @apply bg-[#D9D9D9]
		text-[#0D0D0D]
		hover:bg-[#010440]
		hover:text-[#D9D9D9]
		min-w-full
		h-32
		min-h-full
		rounded-xl
		shadow-lg;
}

.dropdownItem {
  @apply block 
  text-sm
  py-2 
  px-4 
  bg-[#0D0D0D]
  hover:bg-gray-100
  hover:text-[#0D0D0D];
}
